* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 3rem;
  color: #38bdf8;
}

.hero p {
  color: #94a3b8;
  margin: 10px 0 20px;
}

.btn {
  background: #38bdf8;
  color: #020617;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 30px;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.tags span {
  display: inline-block;
  background: #020617;
  padding: 10px 18px;
  margin: 6px;
  border-radius: 20px;
  border: 1px solid #1e293b;
}

.card {
  background: #020617;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  border: 1px solid #1e293b;
}
.contact {
  max-width: 900px;
  margin: auto;
  padding: 50px 20px;
  text-align: center;
}

.contact-box {
  background: #020617;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #1e293b;
}

.contact-box p {
  margin: 10px 0;
  color: #cbd5f5;
}

.contact-box strong {
  color: #38bdf8;
}
/* FOOTER */
.footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 20px;
  margin-top: 40px;
}
/* RESPONSIVE */
@media (max-width: 600px) {
  .header h1 {
    font-size: 2rem;
  }
}